
<div class="row hero-container">
  <div class="col-md-4 col-md-offset-4 hero-col">
    <p class ="hero-text">
      Building
    </p>
    <p class = "hero-text">
      Beautiful
    </p>
    <p class = "hero-text">
      Meaningful
    </p>
    <p class = "hero-text">
      Websites
    </p>
  </div>
</div>

<div class = "headshot-container row">
  <div class="col-md-4 col-md-offset-4 headshot-col">
    <%= image_tag("headshot.png", class: "headshot" ) %>
  </div>
</div>

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" id= "about-me-tab" class="active"><a href="#" id="about-me-tab-link" style="color: #81C7DA;
">About Me</a></li>
  <li role="presentation" id="skills-tab"><a href="#" id="skills-tab-link" style="color: white;
">Skills</a></li>
</ul>

<div class = "about-skills-container row">
  <div class="col-md-8 col-md-offset-2 about-me-col">
    <p class ="about-me-text">
      Hi, my name is Breton Burnett and I’m a Full Stack Web Developer looking for new opportunities.
    </p>
    <p class ="about-me-text">
      I have back end experience with Ruby, Rails, JavaScript, and general Object Oriented Development. As it comes to front end web development I’m fluent with HTML, CSS, AJAX and Bootstrap. I’m also learning Angular and looking into other Front-End JavaScript frameworks. Other than technical skills I’m blessed with an optimistic disposition that’s great for morale at the workplace and emotional empathy that allows me to learn from and work out problems well with others.
    </p>
    <p class ="about-me-text">
      Also, I do things that aren’t development. I’m a talented writer, I enjoy poetry, creating music, as well as playwriting. I used to work with Young Chicago Authors teaching elementary to high school aged children writing mechanics. I smile a lot, sometimes when there’s nothing to smile about. I like my apples golden, delicious, and immersed in piping hot oatmeal. I enjoy embracing each day like it’s my last, and practicing perfection like tomorrows are limitless.
    </p>
    <p class ="about-me-text">
      I’ve been working on freelance opportunities recently; however, I am really interested in finding an opportunity that’s either permanent or contract to hire. Please contact me via linkedIn or email if you have anything meeting these requirements.
    </p>
  </div>
</div>
